# 统计信息

In [1]:
import pandas as pd
import numpy as np

## 通过describe查看总体信息

In [2]:
df = pd.read_csv('sample.csv', index_col=0)
df

   duration  playtime  up  favorite  comment  share
a        71         3  49        19       43     20
b         9        73  65        32       44     28
c        76        89  15        11       90     37
d        63        86  74        43       86      9
e        12         7  50        12       42      8
f        79        20   4        28        8     67
g        52        83  58        66       82     22
h         5        92  14         4       21      6

In [3]:
df.describe()

       duration   playtime         up   favorite    comment      share
count   8.00000   8.000000   8.000000   8.000000   8.000000   8.000000
mean   45.87500  56.625000  41.125000  26.875000  52.000000  24.625000
std    31.94834  39.289902  26.384181  20.272695  30.803525  20.198568
min     5.00000   3.000000   4.000000   4.000000   8.000000   6.000000
25%    11.25000  16.750000  14.750000  11.750000  36.750000   8.750000
50%    57.50000  78.000000  49.500000  23.500000  43.500000  21.000000
75%    72.25000  86.750000  59.750000  34.750000  83.000000  30.250000
max    79.00000  92.000000  74.000000  66.000000  90.000000  67.000000

In [4]:
df['up'].describe()

count     8.000000
mean     41.125000
std      26.384181
min       4.000000
25%      14.750000
50%      49.500000
75%      59.750000
max      74.000000
Name: up, dtype: float64

## 统计函数

In [5]:
# 也有count,sum,median,min,max,std等统计函数
df['up'].mean()

41.125

In [6]:
# 75%分位数
df.quantile(q=0.75)

duration    72.25
playtime    86.75
up          59.75
favorite    34.75
comment     83.00
share       30.25
Name: 0.75, dtype: float64

In [7]:
# 各列的相关系数
df.corr()

          duration  playtime        up  favorite   comment     share
duration  1.000000 -0.146741 -0.207588  0.248552  0.308905  0.570406
playtime -0.146741  1.000000  0.067991  0.248517  0.517359 -0.217837
up       -0.207588  0.067991  1.000000  0.564113  0.484261 -0.550234
favorite  0.248552  0.248517  0.564113  1.000000  0.447694  0.078017
comment   0.308905  0.517359  0.484261  0.447694  1.000000 -0.286088
share     0.570406 -0.217837 -0.550234  0.078017 -0.286088  1.000000

## cut和qcut

### cut等间距分箱

In [8]:
df

   duration  playtime  up  favorite  comment  share
a        71         3  49        19       43     20
b         9        73  65        32       44     28
c        76        89  15        11       90     37
d        63        86  74        43       86      9
e        12         7  50        12       42      8
f        79        20   4        28        8     67
g        52        83  58        66       82     22
h         5        92  14         4       21      6

In [9]:
pd.cut(df['duration'], 4, labels=None)

a     (60.5, 79.0]
b    (4.926, 23.5]
c     (60.5, 79.0]
d     (60.5, 79.0]
e    (4.926, 23.5]
f     (60.5, 79.0]
g     (42.0, 60.5]
h    (4.926, 23.5]
Name: duration, dtype: category
Categories (4, interval[float64, right]): [(4.926, 23.5] < (23.5, 42.0] < (42.0, 60.5] < (60.5, 79.0]]

### qcut按分位数分箱

In [10]:
# 将duration分箱，构成新的一列
df['duration_section'] = pd.qcut(df['duration'], 3, labels=False)
df

   duration  playtime  up  favorite  comment  share  duration_section
a        71         3  49        19       43     20                 2
b         9        73  65        32       44     28                 0
c        76        89  15        11       90     37                 2
d        63        86  74        43       86      9                 1
e        12         7  50        12       42      8                 0
f        79        20   4        28        8     67                 2
g        52        83  58        66       82     22                 1
h         5        92  14         4       21      6                 0